<div class="relative w-100" style="height: calc(200px + .5rem);">
  <article class="w-15 fl ml2 ml4-ns ml4-l mt2 z-1"
           style="max-width: 200px;
           max-height: 200px;
           min-width: 80px;
           min-height: 80px;">
    <div class="aspect-ratio aspect-ratio--1x1 bg-dark-blue br-pill z-1 shadow-1"
         style="max-width: 200px;
           max-height: 200px;
           min-width: 80px;
           min-height: 80px;">
      <div class="aspect-ratio--object cover br-pill z-1"
           style="background:url(assets/player.png) center;
           max-width: 200px;
           max-height: 200px;
           min-width: 80px;
           min-height: 80px;"
      ></div>
    </div>
  </article>
  <div class="h2 w-100 bg-detail z-0 absolute mt4 top-0 shadow-5" style="padding-left: 25%">
    <a class="text-secondary no-underline mh3" href="/home">Overview</a>
    <a class="text-secondary no-underline mh3" href="/attack">Attack</a>
    <a class="text-secondary no-underline mh3">Attributes</a>
    <a class="text-secondary no-underline mh3">Other</a>
    <a class="text-secondary no-underline mh3 fr"><mat-icon>settings</mat-icon></a>
  </div>
</div>
