<div class="relative w-100" style="height: 200px">
  <article class="w-15 fl ml4 mt2 z-1">
    <div class="aspect-ratio aspect-ratio--1x1 bg-dark-blue br-pill z-1">
      <div class="aspect-ratio--object cover br-pill z-1" style="background:url(assets/player.png) center;"></div>
    </div>
  </article>
  <div class="h2 w-100 bg-black-70 z-0 absolute mb4 bottom-0" style="padding-left: 25%">
    <span>Overview</span>
    <span>Attack</span>
    <span>Attributes</span>
    <span>Other</span>
    <span class="fr"><mat-icon>settings</mat-icon></span>
  </div>
</div>
