<div *ngIf="!!character" class="center">
  <app-list class="w-30 pr3 dib v-top"
            [proficiencyBonus]="character.character._proficiencyBonus"
            [baseStats]="character.character._baseStats"
            [(value)]="character.character._stats"
            (blur)="onBlur()"></app-list>
  <app-list class="w-30 pl3 dib v-top"
            [proficiencyBonus]="character.character._proficiencyBonus"
            [baseStats]="character.character._baseStats"
            [(value)]="character.character._savingThrows"
            (blur)="onBlur()"></app-list>
</div>
