<div class="bg-transparent" (click)="onFocus()">
  <div class="dib">
    <ng-content></ng-content>
  </div>
  <div #valueDiv contenteditable="true"
       class="outline-transparent pr3 dib"
       (dblclick)="onDblClick()"
       (blur)="onBlur($event, valueDiv.innerText)"
       (keydown.enter)="onEnter($event)"
       spellcheck="false">
    <!--[ngClass]="{'b&#45;&#45;white b': edit, 'b&#45;&#45;transparent': !edit}"-->
    {{value}}
  </div>
  <div class="bb bw1" [@editState]="activeState"></div>
</div>
