<div *ngIf="!!character">
  <app-click-input class="ml4 w-100 f3 flex" [(value)]="character.character._displayName"></app-click-input>
  <app-click-input class="ml4 w-100 f7 flex pv0" [(value)]="character.character._name"></app-click-input>
  <app-click-input class="ml4 w-100 f7 flex pv0" [(value)]="character.character._class"></app-click-input>
  <app-click-input class="ml4 w-100 f7 flex pv0" [(value)]="character.character._race"></app-click-input>
  <app-click-input class="ml4 w-100 f7 flex pv0" [(value)]="character.character._background"></app-click-input>
  <app-click-input class="ml4 w-100 f7 flex pv0" [(value)]="character.character._alignment"></app-click-input>
</div>
