<div class="w-100">
  <div class="fixed w-100" style="height: 200px;">
    <app-navbar></app-navbar>
  </div>
  <div class="fixed w-85 top-0 right-0 v-top fr bg-transparent"
       style="margin-top: 100px; height: calc(225px - 100px); max-width: calc(100% - 200px)">
    <app-base-stats></app-base-stats>
  </div>
  <div class="fixed w-15 top-0 v-top fl bg-primary-light vh-100" style="padding-top: 225px; min-width: 200px;">
    <app-player-display class="shadow-1"></app-player-display>
  </div>

  <div class="w-85 top-0 v-top fr bg-primary pl4 text-primary"
       style="margin-top: 225px; height: calc(100vh - 225px); max-width: calc(100% - 200px);">
    <router-outlet></router-outlet>
  </div>
</div>
