/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.w-15 {
  width: 15%;
}

.w-85 {
  width: 85%;
}

.bg-primary {
  background: #303030;
}

.bg-secondary {
  background: #424242;
}

.bg-detail {
  background: #212121;
}

.text-primary {
  color: rgba(100%, 100%, 100%, 1);
}

.text-secondary {
  color: rgba(100%, 100%, 100%, .7);
}

.text-detail {
  color: rgba(100%, 100%, 100%, .5);
}
