<div class="relative w-100 fr" style="height: calc(200px + .5rem);">
  <article class="w-15 fl ml2 mt2 z-999"
           style="max-width: 200px;
           max-height: 200px;
           min-width: 80px;
           min-height: 80px;">
    <div class="aspect-ratio aspect-ratio--1x1 br-pill z-999"
         style="max-width: 200px;
           max-height: 200px;
           min-width: 80px;
           min-height: 80px;">
      <div class="aspect-ratio--object cover br-pill z-999"
           style="background:url(assets/player.png) center;
           max-width: 200px;
           max-height: 200px;
           min-width: 80px;
           min-height: 80px;"
      ></div>
    </div>
  </article>
  <div class="h2 w-85 right-0 bg-primary-dark z-0 absolute mt4 top-0 shadow-5 pl4" style="max-width: calc(100% - 200px);">
    <ul class="di">
      <li class="list di"><a class="pt1 text-secondary no-underline mh3 fl" routerLinkActive="b text-primary bb bw1 b--white-70" [routerLink]="['/home']">Overview</a></li>
      <li class="list di"><a class="pt1 text-secondary no-underline mh3 fl" routerLinkActive="b text-primary bb bw1 b--white-70" [routerLink]="['/combat']">Combat</a></li>
      <li class="list di"><a class="pt1 text-secondary no-underline mh3 fl" routerLinkActive="b text-primary bb bw1 b--white-70" [routerLink]="['/inventory']">Inventory</a></li>
      <li class="list di"><a class="pt1 text-secondary no-underline mh3 fl" routerLinkActive="b text-primary bb bw1 b--white-70" [routerLink]="['/misc']">Misc</a></li>
      <li class="list di"><a class="pt1 text-secondary no-underline mh3 fr"><mat-icon>settings</mat-icon></a></li>
    </ul>
  </div>
</div>
